.video{
  display: none;
}
.grey{
 color: #A976A9;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 font-size: 37px;
}

div > a {
  line-height: 13vh;
  float: right;
  font-size: 15px;
}
div > p {
    color: #461BAB !important;
    line-height: 13vh;
    display: inline-block;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-style: italic;
    margin: 0;
}

footer > a{
    font-size: 15px;
    float: right;
    padding: 15px;
}
footer{
  text-align: center;
}
header > div{
  height: 13vh;
}

@media (max-width: 768px){
  div > p {
    font-size: 14px;
  }
  div > a {
    display: none;
  }
}

.errorly{
  display: block;
    font-size: 22px;
    color: #B70000;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}
.submit{
      width: 215px;
    font-size: 17px;
}
.social{
  margin-top: 3px;
}
.paddinger{
     padding: 10px;
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
}

.maddinger{
  margin: 25px 0px;
}
@media (max-width: 568px){
  img{
    width: 100%;
  }
  footer{
    display: none;
  }
  .social{
    display: none;
  }
  header{
    display: none;
  }
}