.video{
  display: none;
}
.grey{
 color: #A976A9;
 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 font-size: 37px;
}

div > a {
  line-height: 13vh;
  float: right;
  font-size: 15px;
}
div > p {
    color: #461BAB !important;
    line-height: 13vh;
    display: inline-block;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-style: italic;
    margin: 0;
}

header > div{
  height: 13vh;
}

@media (max-width: 768px){
  div > p {
    font-size: 14px;
  }
  div > a {
    display: none;
  }
}

@media (max-width: 568px){
  img{
    width: 100%;
  }
}